Language: Cpp
Standard: Cpp03   # keeps '> >' instead of '>>'

BasedOnStyle: WebKit
ColumnLimit: 0  # Disable column limit to prevent forced line breaks
SortIncludes: false

IndentWidth: 4
TabWidth: 4

AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: false

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

UseTab: Never

NamespaceIndentation: None
FixNamespaceComments: true
CompactNamespaces: false

AlignTrailingComments: true
AlignAfterOpenBracket: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator

AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

Cpp11BracedListStyle: false

AlwaysBreakTemplateDeclarations: false
BreakStringLiterals: true
ReflowComments: true

InsertNewlineAtEOF: true

AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None


BinPackArguments: false
# BinPackTemplateParameters: false
BreakBeforeBinaryOperators: All
